
/* .result_section{
    width: 90%;
} */

.product_container {
    margin: 100px auto 100px auto;
    justify-items: center;
    max-width: 1450px;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    
}
 section .product_container {
   
    margin: 30px 80px;
} 