.card_container {
    width: 250px;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
    color: black;
    text-decoration: none;
    position: relative;
    
}

.card_container:hover .button {
    display: block;
}

.card_container img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.button {
    display: none;
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 95%;
    margin: 25px 0 10px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

.button:hover {
    background-color: #D49644;
}

.Allproduct_container {
    margin: 20px auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
    max-width: 1200px;
}

.Allproduct_container section {
    margin: 0 auto;
}

.rating {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.product_flexed {
    box-shadow: none;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.product_flexed h3 {
    padding: 15px 0;
    max-width: 300px;
}

.product_flexed .button {
    display: block;
    position: static;
    width: 150px;
    margin-right: 40px;
}

.product_flexed img {
    padding-top: 10px;
    max-width: 150px;
    height: auto;
}

.product_desc {
    max-width: 300px;
    text-align: justify;
    line-height: 1.5;
    padding: 5px 0;
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .card_container {
        max-width: 100%;
    }

    .Allproduct_container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }

    .product_flexed {
        width: 90%;
        flex-direction: row;
        height: auto;
        align-items: center;
    }

    .product_desc {
        max-width: 450px;
    }

    .product_flexed img {
        max-width: 300px;
    }
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    .Allproduct_container {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
       
    }

    .card_container {
        width: 280px;
    }

    .product_flexed {
        flex-direction: row;
        height: auto;
        width: 90%;
    }

    .product_desc {
        max-width: 750px;
    }

    .product_flexed img {
        max-width: 200px;
    }
}
